*,*::after,*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --positionVar:20px;
}
body{

    height: 100vh;
    background-image: linear-gradient(to bottom,#01032a 800px,#000115 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    position: relative;
    width: 1200px;
    height: 600px;
}

.triangleWrapper{
    position: absolute;
    display: block;
    width: 350px;
    height: 350px;
    right: 230px;
    bottom: 60px;
    transform:rotate(22deg);
    z-index: 1;
}

.triangleWrapper svg{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: #e91e63 !important;
}

.circle{
    position: absolute;
    z-index: 2;
    top: 48px;
    left: 250px;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    background-image: linear-gradient(to right,#fdd835 150px,#f57f17 320px);
}

.clock{
    position: absolute;
    z-index:3;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    background-color: transparent;
    background-color:rgba(255, 255, 255, 0.076);
    border:  2px solid rgba(255, 255, 255,0.13);
    backdrop-filter: blur(22px);
    left: 430px;
    top: 155px;
}

.oclockBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 47px;
    height: 47px;
    color:rgba(255, 255, 255,0.538);
    font-size: 43px;
    z-index: 4;
}

.oClock12{
    left:50%;
    transform: translate(-50%);
    top:20px;
}

.oClock9{
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
}

.oClock6{
    left: 50%;
    transform: translateX(-50%);
    bottom:20px;
}

.oClock3{
    top:50%;
    transform: translateY(-50%);
    right: 14px;
}

.othersWrapper{
    position: absolute;
    z-index: 5;
    width: 275px;
    height: 5.9px;
    background-color:transparent;
    left: 50%;
    top: 50%;
}


.others{
    position: absolute;
    background-color: rgba(255, 255, 255,0.538);
    height: 100%;
    width: 23px;
    right: 0px;
    z-index: 6;
}
.oClock1{
    transform: translate(-50%,-50%) rotate(-60deg)
}

.oClock2{
    transform: translate(-50%,-50%) rotate(-30deg);
}

.oClock4{
    transform: translate(-50%,-50%) rotate(30deg);
}

.oClock5{
    transform: translate(-50%,-50%) rotate(60deg);
}

.oClock7{
    transform: translate(-50%,-50%) rotate(120deg);
}

.oCLock8{
    transform: translate(-50%,-50%) rotate(150deg);
}
.oClock10{
    transform: translate(-50%,-50%) rotate(210deg);
}

.oClock11{
    transform: translate(-50%,-50%) rotate(240deg);
}

.thumb{
    position: absolute;
    z-index:10 ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255,0.79);
}

.hours{
    position: absolute;
    z-index: 7;
    transform-origin: bottom;
    transform:translate(-50%,-50%);
    width:11px ;
    height:59px ;
    border-radius: 10px;
    background-image: linear-gradient(to top,rgba(255,255,255,0.36) 12.6px,rgba(255,255,255,0.27) 19px);
    right: calc(50% - 11px);
    top: 134px;
}

.minutes{
    position: absolute;
    z-index: 8;
    transform-origin:bottom;
    transform: translate(-50%,-50%);
    width:5px ;
    height:78px ;
    border-radius: 10px;
    background-image: linear-gradient(to top ,rgba(255,255,255,0.36) 16.3px,rgba(255,255,255,0.27) 24.5px);
    right: calc(50% - 5px);
    top:125px;
}

.seconds{
    position: absolute;
    z-index: 9;
    transform-origin: bottom;
    transform: translate(-50%,-50%);
    width: 3px;
    height: 93px;
    border-radius: 10px;
    background-image: linear-gradient(to top,rgba(255, 255, 255,0.36) 20px,rgba(255,255,255,0.27) 30px);
  right:calc(50% - 3px);
  top:116px ;
}